:root {
  --bgClr: #E8E884;
  --txtClr: #714B99;
}

/* CSS RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--txtClr);
  background-color: var(--bgClr);
  font-family: "Titillium Web", sans-serif;
}

button,
input {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  outline: none;
  color: black;
}

input[type="text"],
input[type="number"] {
  cursor: text;
}

/* HEADER */

.header {
  background-color: #9C9B30;
  color: #D6B0FF;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  margin: 4px;
  border-radius: 5px;
}

.container {
  text-align: center;
  padding: 10px 0;
  font-size: 24px;
}

/* FORM */

.add-book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.add-book-form button {
  width: 18vw;
  padding: 5px;
  background-color: #9C9B30;
  color: #D6B0FF;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  border-radius: 4px;
}

.add-book-form button:active {
  background-color: var(--txtClr);
  color: var(--bgClr);
}

.add-book-form button:hover {
  background-color: var(--bgClr);
  color: var(--txtClr);
}

.input {
  border: 2px solid black;
  border-radius: 3px;
}

.is-read {
  display: flex;
  gap: 5px;
}